<!DOCTYPE html>
<html lang="en" style="height:100%;">
<head>
  <meta charset="utf-8">
  <title>Blog</title>
  <%= display_meta_tags site: Settings::Setting.get_system_setting('title') %>
  <%= stylesheet_link_tag "#{Settings::Setting.get_system_setting('theme')}/all", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "#{Settings::Setting.get_system_setting('theme')}/all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="pinegrow, blocks, bootstrap"/>
  <meta name="description" content="My new website"/>
  <link rel="shortcut icon" href="ico/favicon.png">
  <!-- Core CSS -->
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700" rel="stylesheet">
  <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet">
</head>
<body data-spy="scroll" data-target="nav">
  <%= render 'shared/modals' %>
  <%= render 'fragments/main_navigation', page: nil, fragment: Pages::Fragment.where(theme_name: 'bakery', fragment_name: 'main_navigation').try(:first) %>
  <div class="container">
    <%= render 'fragments/notifications' %>

    <h1 style="padding-top: 95px">Blog
    <%= link_to 'Feed', class: 'text-danger' do %>
      <i class="material-icons" title="Edit post...">rss_feed</i>
    <% end %>
  </h1>


    <div class="row">
      <div class="col-sm-9"><%= yield %></div>
      <div class="col-sm-3">
        <h3>Tags</h3>
        <ul>
          <% ActsAsTaggableOn::Tag.most_used(10).each do |tag| %>
            <li><%= link_to "#{tag.name} (#{tag.taggings_count})", blog_posts_by_tag_path(params[:blog_id], tag.name) %></li>
          <% end %>
        </ul>
        <h3>Archive</h3>
        <% @posts_by_month = Blog::Post.posts_months_count %>
        <ul>
          <% @posts_by_month.each do |rec|%>
            <li><%= link_to "#{rec.year.to_i}/#{rec.month.to_i} (#{rec.posts})", blog_posts_by_year_and_month_path(params[:blog_id], rec.year.to_i, rec.month.to_i) %></li>
          <%end%>
        </ul>
      </div>
    </div>

  </div>
  <%= render 'fragments/footer', page: nil, fragment: Pages::Fragment.where(theme_name: 'bakery', fragment_name: 'footer').try(:first) %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
</body>
</html>
