<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Signin Template for Bootstrap</title>
        <%= display_meta_tags site: Settings::Setting.get_system_setting('title') %>
        <%= stylesheet_link_tag "#{Settings::Setting.get_system_setting('theme')}/devise/signin-all", media: "all", "data-turbolinks-track" => true %>
        <%= javascript_include_tag "#{Settings::Setting.get_system_setting('theme')}/devise/signin", "data-turbolinks-track" => true %>
        <%= csrf_meta_tags %>
    </head>
    <body class="text-center">
      <%= yield %>
    </body>
</html>
